@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

* {
	font-family: 'Lato', sans-serif;
	/*margin: 0;
	padding: 0;*/
}

body {
	width: 100vw;
	text-align: center;
	font-size: 200%;
}

#paragraph3 {
  width: 200px;
	display: inline;
}
